<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit Student Information</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name" value="{{ student.name }}" >
        <input type="email" name="email" placeholder="Email" value="{{ student.email }}">
        <input type="submit">
    </form>
</body>
</html>